*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100%;
    background:black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.app-container{
   max-width: 500px;
   width: 1000%;
  
   height: 5px;
   position: relative;
   display: flex ;
   align-items: center;
   justify-content: space-between;
}

.cirle{
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 100px ;
    display: flex ;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 2;
    font-family: "roboto";
    border: 3px solid rgba(171, 172, 171, 0.579);
}

.progress-bar{
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(185, 181, 181, 0.449);
    width: 100%;
    z-index: 0;
}

.progress{
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 0%;
    background: red;
    transition: all ease 200ms;
}

button{
    background-color: rgb(107, 178, 241);
    border: none;
    padding: 5px 20px;
    border-radius: 2px;
    font-family: "roboto";
    cursor: pointer;
    color: white;
}